
workDir = "s3://nf-aio-try2-needlegenomics/nextflow_work"
process.executor = "awsbatch"
process.queue = "default-c1e558c0-9eaf-11ea-8877-0ae10a278694"
aws.batch.cliPath = "/home/ec2-user/miniconda/bin/aws"
aws.batch.maxParallelTransfers = 1
aws.batch.maxTransferAttempts = 4
aws.batch.delayBetweenAttempts = 60
aws.client.maxErrorRetry = 2

aws.batch.jobRole="NextflowAllinOne-1030am-Nextflo-IAMNextflowJobRole-1JUYANEZW01XL"
